@import url("https://fonts.googleapis.com/css?family=Merriweather:300|Oswald");
body,
html {
  font-family: "Merriweather", serif;
}
html {
  scroll-behavior: smooth;
}
.results{
  position: relative;
  max-width: 650px;
  padding:20px;
  margin: 40px auto;
}
.form {
  position: relative;
  max-width: 650px;
  padding:100px 20px;
  margin: 40px auto;
  text-align: center;
  overflow: hidden;
}
.results{
  text-align: center;
}
h3, h2, h4{
  color:#16a085;
}
h4{
  margin-bottom:40px;
}
hr {
  border: none;
  height: 2px;
  background-color: #dedede;
}
/*---------*/
a.btn{
  width: auto;
  text-decoration: none;
}
.btn{
  background: #16a085;
  padding: 13px 20px;
  color: #fff;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  display: inline-block;
  text-align: center;
  border-radius: 0;
  border: 0;
  transition-property: background-color;
  transition-duration: 0.5s;
  width: 40%;
  margin: 30px;
  cursor: pointer;
}
.btn.btn-pink{
  background-color:#bb6d99;
}
.btn:hover{
  background-color: #444b5d;
  color: #fff;
}

.btn.btn-inactive{
  cursor:default;
  background: #dedede;
}
/*---------*/
.headersticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-bottom: 1px solid #dedede;
  background: rgba(255, 255, 255, 1);
  z-index: 9;
  text-align: center;
  padding-top: 5px;
  background:#16a085;
}
.headersticky h1{
  color:#fff;
}
/*---------*/
.footersticky {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  border-top: 1px solid #dedede;
  background: rgba(255, 255, 255, 1);
  z-index: 9;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
.footersticky table{
  margin: 20px auto;
}
/*--------------*/
.scrollTop {
  position: fixed;
  width: 40px;
  bottom: 50px;
  height: 20px;
  right:20px;
  justify-content: flex-end;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}
.scrollTop:hover {
  opacity: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
/*---------------*/
.form-question {
  font-weight: bold;
  font-size: 1.1em;
  display: block;
  margin-top: 20px;
}
.question-active{
  transition: opacity 1s, transform .5s;
  font-size: 1.2em;
  padding: 30px;
}
.question-inactive{
  transition: opacity 1s, transform .1s;
  opacity: .3;
  transform: scale(0.8);
  border-bottom: 1px solid #dedede;
}
.ref{
  /* height: 100px;
  transition: height 1s; */

  scroll-margin-top: 100px;
}
/*---------------*/
.question-radiobox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  border: 1px solid #fefefe;
  margin: 10px auto 20px auto;
}
.question-radiobox .radio-txt {
  width: 80px;
  font-weight: bold;
}
.radio-txt-mobile{
  display: none;
}
.radio-agree {
  color: #82ccc8;
  padding-left: 20px;
}
.radio-disagree {
  text-align: right;
  padding-right: 5px;
  color: #bb6d99;
}
.radio {
  position: relative;
  margin: 20px 0;
  min-width: 10%;
  text-align: center;
}
.radio:not([disabled]){
  cursor: pointer;
}
.radio:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  content: "";
  position: absolute;
  top: -20%;
  left: 40%;
  z-index: 1;
  width: 50%;
  height: 170%;
  background: #16a085;
  border-radius: 50%;
}
.radio:checked:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio:after {
  content: "";
  position: absolute;
  top: -75%;
  left: 25%;
  width: 2rem;
  height: 2rem;
  background: #fff;
  border: 2px solid #d4d4d4;
  border-radius: 50%;
}
.radio:not([disabled]):hover::after{
  background:#dedede;
}
.radio:nth-child(2)::before {
  background: #bb6d99;
}
.radio:nth-child(3)::before {
  background: #ad84a4;
}
.radio:nth-child(4)::before {
  background: #9e9eb1;
}
.radio:nth-child(5)::before {
  background: #8eb8bf;
}
.radio:nth-child(6)::before {
  background: #16a085;
}
.radio:nth-child(2)::after {
  border: 2px solid #bb6d99;
}
.radio:nth-child(3)::after {
  border: 2px solid #ad84a4;
}
.radio:nth-child(4)::after {
  border: 2px solid #9e9eb1;
}
.radio:nth-child(5)::after {
  border: 2px solid #8eb8bf;
}
.radio:nth-child(6)::after {
  border: 2px solid #16a085;
}
@media screen and (max-width: 500px) {
  h1{
    font-size: 20px;
  }
  .ref{
    height: 100px;
    transition: height 1s;
  }
  .question-active{
    padding: 3px;
  }
  .question-radiobox{
    width: 100%;
    justify-content: space-between;
    margin: 10px auto 5px auto;
  }
  .radio::after{
    left: 2%;
  }
  .radio-txt-mobile{
    display: inline-block;
    width: 49%;
    margin:0;
    padding: 0;
    font-size: 0.9em;
    font-weight: bold;
  }
  .radio-disagree{
    text-align: left;
  }
  .radio-agree{
    text-align: right;
  }
  .radio:before{
    width:60%;
    left:16%
  }
  .question-radiobox .radio-txt{
    display:none;
    width: 0;
  }
  .footersticky table{
    width: 100%;
  }
 }